/*tablets*/
@media (max-width: 992px) {
  .navbar {
    gap: 10px;
  }

  .navbar-list {
    position: absolute;
    top: 65px;
    left: 5%;
    right: 5%;
    width: 90%;
    flex-direction: column;
    background-color: #a481c2;
    border: 2px solid #8b5ab6;
    border-top: 0px;
    border-radius: 0px 0px 10px 10px;
    align-items: center;
    padding: 20px 20px;
    gap: 26px;
    z-index: 3px;
    display: none;
  }

  .navbar-list a {
    color: black;
    font-size: 19px;
    cursor: pointer;
  }

  a:hover {
    color: white;
  }

  .menu-label {
    display: flex;
    cursor: pointer;
  }

  .menu-label:hover {
    color: white;
  }

  #menu-toggle:checked + .navbar-list {
    display: flex;
  }

  .contenedor {
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-left: 0px;
    padding-top: 20px;
  }

  .home-info {
    margin-left: 0px;
  }

  .home-info h1 {
    width: 90%;
    max-width: 500px;
    min-width: unset;
    margin: auto;
  }

  .home-info p {
    width: 400px;
    padding: 0px;
    min-width: unset;
    margin: auto;
    text-align: center;
  }

  #p-small {
    padding-left: 0px;
    padding-bottom: 0px;
    margin: 0px;
    width: 510px;
    text-align: center;
    min-width: unset;
  }

  .botones {
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-left: 0px;
  }

  .whatsapp {
    width: 49%;
    padding: 9px;
  }

  .whatsapp img {
    width: 30px;
  }

  .cafecito {
    width: 51%;
    padding: 11px;
  }

  .cafecito img {
    width: 30px;
  }

  .home-img {
    width: 450px;
    padding: 0px;
    gap: 30px;
    margin: 20px 10px 20px 10px;
  }

  .contenedor-servicios {
    margin: auto;
  }

  .text h2 {
    text-align: center;
  }

  .gato-texto {
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .text h2 {
    width: 100%;
  }

  .text {
    width: 50%;
    padding: 5px;
  }

  .servicios-intro {
    width: 45%;
    padding: 10px 0px 50px 20px;
    margin: 25px;
  }

  .servicios-intro p {
    width: 100%;
    text-align: justify;
    margin: 0px;
  }

  .contenedor-perro {
    margin: 20px 0px 20px 0px;
  }

  .items {
    max-width: 70%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: auto;
    padding: 50px 10px 40px 10px;
  }

  .contenedor-footer {
    max-width: 70%;
    gap: 20px;
    margin: auto;
  }

  .small {
    font-size: 12px;
  }

  .footer-box-info {
    gap: 5px;
    padding-top: 10px;
  }

  .footer-img {
    width: 30%;
  }
}

@media (max-width: 576px) {

  #menu-toggle:checked + .navbar-list {
    display: flex;
  }
  
  .contenedor {
    width: 100%;
    max-width: unset;
  }

  .home-info {
    width: 100%;
    margin-left: 0px;
  }

  .home-info h1 {
    width: 100%;
    max-width: 500px;
    min-width: unset;
    margin: auto;
  }

  .home-info p {
    width: 400px;
    padding: 0px;
    min-width: unset;
    margin: auto;
    text-align: center;
  }

  #p-small {
    padding-left: 0px;
    padding-bottom: 0px;
    margin: auto;
    width: 342px;
    text-align: center;
    min-width: unset;
  }

  .botones {
    width: 100%;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-left: 0px;
  }

  .whatsapp {
    width: 30%;
  }
  .cafecito {
    width: 30%;
  }

  .home-img {
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 100px 0px 0px 0px;
    margin-top: 10px;
  }

  .img {
    width: 200px;
  }

  .contenedor-presentacion {
    padding: 0px 0px 150px 0px;
  }

  .contenedor-gato {
    display: none;
  }
  .gato {
    display: none;
  }

  .text {
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 20px;
  }

  .text h2 {
    width: 100%;
    margin: auto;
  }

  .frase {
    width: 70%;
    margin: auto;
    padding: 30px;
  }

  .contenedor-servicios {
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .contenedor-perro {
    display: none;
  }

  .servicios-intro {
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 5px 5px 10px 5px;
  }

  .items {
    padding: 20px 10px 40px 10px;
    flex-wrap: wrap;
  }

  .footer-box-info {
    gap: 5px;
    padding-top: 2px;
    padding-left: 0px;
    width: 250px;
    height: 150px;
  }
}
