
@media (max-width:767px){
    .contenedor {
      width: 100%;
      max-width: unset;
    }
  
    .home-info {
      width: 100%;
      margin-left: 0px;
    }
  
    .home-info h1 {
      width: 100%;
      max-width: 500px;
      min-width: unset;
      margin: auto;
    }
  
    .home-info p {
      width:100%;
      padding: 0px;
      min-width: unset;
      margin: auto;
      text-align: center;
    }
  
    #p-small {
      padding-left: 0px;
      padding-bottom: 0px;
      margin: auto;
      width: 342px;
      text-align: center;
      min-width: unset;
    }
  
    .botones {
      width: 100%;
      flex-wrap: wrap;
      text-align: center;
      justify-content: center;
      align-items: center;
      gap: 20px;
      padding-left: 0px;
    }
  
    .whatsapp {
      width: 30%;
    }
    .cafecito {
      width: 30%;
    }
  
    .home-img {
      width: 100%;
      justify-content: center;
      align-items: center;
      padding: 100px 0px 0px 0px;
      margin-top: 10px;
    }
  
    .img {
      width: 200px;
    }
  
    .contenedor-presentacion {
      padding: 0px 0px 150px 0px;
    }
  
    .contenedor-gato {
      display: none;
    }
    .gato {
      display: none;
    }
  
    .text {
      width: 100%;
      justify-content: center;
      align-items: center;
      margin: 20px;
    }
  
    .text h2 {
      width: 100%;
      margin: auto;
    }
  
    .frase {
      width: 70%;
      margin: auto;
      padding: 30px;
    }
  
    .contenedor-servicios {
      width: 100%;
      text-align: center;
      justify-content: center;
      align-items: center;
    }
  
    .contenedor-perro {
      display: none;
    }
  
    .servicios-intro {
      width: 100%;
      justify-content: center;
      align-items: center;
      margin: 20px;
      padding: 5px 5px 10px 5px;
    }
  
    .items {
      padding: 20px 10px 40px 10px;
      flex-wrap: wrap;
    }
  
    .footer-box-info {
      gap: 5px;
      padding-top: 2px;
      padding-left: 0px;
      width: 250px;
      height: 150px;
    }
  }
  